<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.apppetrobras">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_aset"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_aset"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Perfil"
            android:exported="false" />
        <activity
            android:name=".Activities.PerfilAtualizar"
            android:exported="false" />
        <activity
            android:name=".Activities.Passos"
            android:exported="false"
            />
        <activity
            android:name=".Hub"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Ajuda"
            android:exported="false" />
        <activity
            android:name=".Historico"
            android:exported="false" />
        <activity
            android:name="com.example.Navigations.Drawer"
            android:exported="false" />

        <activity
            android:name=".Activities.Cadastro"
            android:exported="false"
             />
        <activity
            android:name=".Activities.Login"
            android:exported="false"
             />
        <activity
            android:name=".Activities.Inicio"
            android:exported="false" />
        <activity
            android:name=".Activities.Solucoes"
            android:exported="false"
             />
        <activity
            android:name="com.example.Navigations.Tabs"
            android:exported="true"
             />
        <activity
            android:name=".Activities.Relatorio"
            android:exported="true" />
        <activity
            android:name=".FormLoginPedro"
            android:exported="true">

        </activity>
        <activity
            android:name="com.example.Navigations.Configuracoes"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.example.Navigations.Administrador"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>